.review-Button{
background: blue;
display: flex;
}
.review-Button img{
    width:50px;
}
.review-Button h2{
    font-family: system-ui;
    font-size: 19px;
    font-weight: 700;
}
.image h3{
    font-weight: normal;
    font-family: monospace;
    font-size: 17px;
}
.image img{
    width: 40px;
    border-radius: 20px;
}
.bacground{
    background-color: #0d6efd7d;;
}
.profile-img{
    /* border-radius: 23px; */
    background-color: #88b8fe;
    border: none;
}   
.rating-icon{
    margin-top: -15px;
    margin-left: 430px;
    align-items: baseline;
    border: none;
    background-color: #88b8fe;
    color: tomato;
}

